[Unit]
Description=The Apache2.2 HTTP Server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/httpd24
ExecStart=/usr/local/apache/bin/apachectl k start
ExecReload=/opt/rh/httpd/root/bin/httpd -k restart
ExecStop=/opt/rh/httpd24/root/bin/httpd -k stop

[Install]
WantedBy=multi-user.target
